@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

//variables
:root{
    --blue: #755CDE;
    --yellow: #F6A560;
    --pink: #F39E9E;
    --light-red: #EB7576;
    --cyan: #61C4B7;
    --purple: #552049;
    --black: #030303;
    --brown: #7A746E;
    --cream: #FFF7F0;
}

//--jakarta-sans: 'Roboto', sans-serif;